body {
	font-family: sans-serif; 
	background: #f5f5f5; text-align: left;
}
hr {
	opacity: 0.25;
}
h1 {
	border-left: 5px solid #CCC;
	color: #777;
	cursor: pointer; 
	margin: 25px 40px 10px;
	padding: 10px 20px 0px;
}
h2 {
	color: #555;
}
article.blog-post {
	background: #fcfcfc; 
	border-top: 2px solid #CCC;	
	border-bottom: 2px solid #CCC;
	padding: 15px 25px; margin: 10px 40px;	
}
blockquote {
	/*border-left: 5px solid #999;*/
	padding: 10px 0 2px 10px;
	color: #666;
}
.opening-blockquote {
	font-family:Times 'Times New Roman', Times, serif;
	font-size: 3em;
	font-weight: bold;
	margin-right: 10px;
	color: #777;
}