html {
	position: relative; z-index: 0;
	background: #f5f5f5;
	

	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-ms-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}

body {
	font-family: sans-serif; background: rgba(0,0,0,0); text-align: left;
}
.backdrop {
	background: rgba(0,0,0,0.85);
	position: relative;
	z-index: 1;
}
#container { 
	margin: 0 auto; width: 60%; position: relative;
	z-index: 5; 
}
hr {
	margin: 25px 0 20px 20px;
}
.hide { display: none; }
article {
	width: inherit; background: #FFF;
	margin: 20px 0 0; padding: 20px 20% 10px;
	border: 1px solid #E9E9E9; border-radius: 5px;
}
blockquote {
	border-left: 4px solid #8E5F0A; padding: 5px 0 5px 20px; margin: 0 0 25px 30px;
	color: #9E8350;
}
blockquote.call-out {
	float: right; color: rgba(60, 41, 7, 0.45); font-weight: bold;
	max-width: 150px;
	border:1px solid rgba(60, 41, 7, 0.25); border-left: none;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 0.5em 1em; margin: 5px 0 10px 20px !important;
}
.highlight {
	color: orange;
}
h1 {
	margin: 20px 25px; font-size: 1.2em; text-align: right; color: rgba(60, 41, 7, 0.45); z-index: 6;
}
.more-visible {
	margin: 20px 25px; font-size: 1.2em; text-align: right; color: rgba(255, 255, 255, 0.75); z-index: 6;
}
h2 {
	font-size: 1.4em; font-weight: bold; color: rgba(60, 41, 7, 1);
}

p:last-child {
	margin-bottom: 20px !important;
}
#comments-form {
	display: block; border: 1px solid rgba(255, 255, 255, 1);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 10;
}
#comments-form, .js #comments-form { 
	padding: 20px 20%; 
	width: inherit; position: relative;
	background: #555;
}
.js #comments-form {
	position: absolute; top: 40px;
	width: inherit; display: none;
}
form h2 { 
	color: #F9F1D2; 
}
ul, li {
	list-style: none;
	margin: 0; padding: 0;
}
label {
	display: block; color: #F1C067; font-size: 0.6em; font-weight: normal;
	clear: both;
}
input, textarea {
	margin: 2px 0 20px;
	width: 75%;
}
input { width: 65%; } textarea { width: 80%; }
input, textarea {
	margin: 2px 40px 20px 0; padding: 10px 8px; border-radius: 2px;
	border: #333; font-size: 0.8em; 
}
input:focus, textarea:focus { background: #333; }
input[type="submit"] {
	width: auto; background: none; 
	padding: 10px 20px;
	border: 1px solid #F9F1D2; border-radius: 4px;
	font-weight: bold; color: #F9F1D2; font-size: 0.7em;
	cursor: pointer;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
input[type="submit"]:hover {
	background: #F9F1D2;
	border: 1px solid #F9F1D2;
	font-weight: bold; color: #000 !important;
}
input[type="submit"]:focus {
    outline:none; color: #F9F1D2;
}
button {
	width: auto; background: transparent; padding: 10px 20px; margin: 30px 25px;
	border: 1px solid #8E5F0A; border-radius: 5px;
	font-weight: bold; color: #8E5F0A; font-size: 0.7em;
	cursor: pointer;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
	z-index: 6;
}
button:hover {
	background: #8E5F0A;
	border: 1px solid #8E5F0A;
	color: #FFF;
}
button:focus {
    outline:none;
}
.button-backdrop {
	background: #777 !important;
	border: 1px solid #000 !important;
	color: #222 !important;
}
input:focus {
    outline:1px solid #7DECF8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	color: #7DECF8;
}
textarea:focus {
    outline:1px solid #7DECF8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	color: #7DECF8;
}

#name {

}

span.xclose {
	background: #F9F1D2; display: block;
	color: #333; font-weight: bold; font-size: 0.95em;
	position: absolute;
	top: 35px;
	right: 50px;
	cursor: pointer;
	padding: 6px 10px;
	border: 1px dotted #F9F1D2; border-radius: 1px;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
span.xclose:hover {
	background: #222;
	color: #F9F1D2;
	border: 1px dashed #F9F1D2;
	border-radius: 50%;
}
